
        <div class="row ">
            <div class="col-6 col-md-4">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="card-title">
                            {{currentUser.firstName}} {{currentUser.lastName}}
                        </div>
                        <div class="card-body">
                            <tr>
                                <td>
                                    <div class="container">
                                        <img class="img-thumbnail" [src]=userPhoto  width="200" height="200" alt="Profile Picture">
                                    </div>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ friendsCount }} Friends
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ postsCount }} Posts
                                </td>
                            </tr>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="card" style="min-width: 45rem">
                        <div class="card-body">
                            <div *ngFor="let friend of friendsList">
                                <div class="card" style="min-width: 45rem">
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <div class="col align-self-center">                                           
                                                <img class="rounded-circle z-depth-2 mw-100 mh-100" (click)="onImageClick(friend)" width="150" height="150" alt="No picture" [src]="friend.photoUrl" data-holder-rendered="true">
                                            </div>
                                            <div class="col align-self-center">
                                                {{friend.fullName}}
                                            </div>
                                            <div class="col align-self-center">
                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                           
                    </div>
                </div>
            </div>
        </div>

